/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    padding: .785em;
  }
  
  .small-image {
    width: 100px;
    height: 100px;
    
  }
  .plusminus1,
  .plusminus2,
  .plusminus3 {
    cursor: pointer;
    user-select: none;
  }
  